$main-font: "Bell MT Regular";
$header-font: "Copperplate Gothic Light";
$main-color: #2c1508;
$primary: #D1BEAF;
$secondary: #796751;
$hover: #836e60;
$hover2: #695a50;
$hover3: #c4af9f;
$titles-color: #472d1c;
$border-color: #cbb294;
$footer-border: #65503c;
$header-background: #d1beafee;
$background-color: #fcf3eb;
$user-background: #88776A;
$user-second-color: #FFF;
