$main-font: "Bell MT Regular";
$header-font: "Copperplate Gothic Light";
$main-color: #2C1508;
$titles-color: #472D1C;
$border-color: #cbb294;
$header-background: #d1beafee;
$background-color: #FCF3EB;
